* {
    font-family:"Ubuntu", sans-serif;
}
footer {
    margin: auto;
}
.project {
    border: 1px solid green;
    padding: 3%;
    margin-bottom: 1%;
    position: relative;
}
.repo {
    position: absolute;
    top: calc(3% + 32px);
    right: 3%;
}
@media (min-width: 1200px) {
    .container {
        max-width: 800px;
    }
}
